
table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width   : 1px;
    border-style   : solid;
    border-color   : #a6262c;
}

th{
    font-weight: 800;
    background-color: #a6263b;
    color           : #ffffff;

}